position: absolute;
left: 0px;
top: 0px;
width: 437.33px;
height: 300px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(IMG.jpg), rgba(0, 0, 0, 0);
	

position: absolute;
left: 0px;
top: 0px;
width: 437.33px;
height: 300px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(IMG.png), rgba(0, 0, 0, 0);
	

position: absolute;
left: 0px;
top: 0px;
width: 437.34px;
height: 300px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(IMG.jpg), rgba(0, 0, 0, 0);
	

position: absolute;
left: 0px;
top: -0.05px;
width: 437px;
height: 300px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(IMG.png), rgba(0, 0, 0, 0);
	

position: absolute;
left: 0px;
top: 0px;
width: 437.33px;
height: 300px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(IMG.png), rgba(0, 0, 0, 0);
	

position: absolute;
left: 0px;
top: 0px;
width: 437.34px;
height: 300px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(IMG.png), rgba(0, 0, 0, 0);
	

position: absolute;
left: 0px;
top: -0.05px;
width: 443px;
height: 432px;
border-radius: 16px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(IMG.png), rgba(0, 0, 0, 0);
	position: absolute;
left: 90px;
top: 20px;
width: 760px;
height: 517px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 13.png);
	

position: absolute;
left: 343px;
top: 837px;
width: 757px;
height: 546px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 14.jpg);
	

position: absolute;
left: 294px;
top: 1580px;
width: 856px;
height: 731px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 15.jpg);
	

position: absolute;
left: 292px;
top: 2534px;
width: 858px;
height: 852px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 16.png);
	position: absolute;
left: 90px;
top: 20px;
width: 760px;
height: 517px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 13.png);
	

position: absolute;
left: 343px;
top: 837px;
width: 757px;
height: 546px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 14.jpg);
	

position: absolute;
left: 294px;
top: 1580px;
width: 856px;
height: 731px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 15.jpg);
	

position: absolute;
left: 292px;
top: 2534px;
width: 858px;
height: 852px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 16.png);
	position: absolute;
left: 90px;
top: 20px;
width: 760px;
height: 517px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 13.png);
	

position: absolute;
left: 343px;
top: 837px;
width: 757px;
height: 546px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 14.jpg);
	

position: absolute;
left: 294px;
top: 1580px;
width: 856px;
height: 731px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 15.jpg);
	

position: absolute;
left: 292px;
top: 2534px;
width: 858px;
height: 852px;
opacity: 1;
	
/* 自动布局 */
display: flex;
flex-direction: undefined;
justify-content: undefined;
align-items: undefined;
padding: NaNpx;
	
background: url(矩形 16.png);
	
